
.icon-bicycle:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-paper-plane-empty:before { content: '\e803'; } /* '' */
.icon-beer:before { content: '\e804'; } /* '' */
.icon-birthday:before { content: '\e805'; } /* '' */
.icon-wordpress:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-paper-plane:before { content: '\e809'; } /* '' */