
.icon-bicycle:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-birthday:before { content: '\e805'; } /* '' */
.icon-wordpress:before { content: '\e806'; } /* '' */
.icon-tree:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */